
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
}

.hero{
    height: 400px;
    background-image: url("./home-bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    height: 400px;
    color: white;
    position: relative;
}

/*Navbar */
nav {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 60px;
    background-color: white;
    color: black;
}

nav > h3 {

    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.5;


}

nav > button {

    font-size: 0.75rem;
    font-weight: 800;
    padding: 0.75rem;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 3px;
    color: gray;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.1);
}
.hero-title{
    width: inherit;
    height: 340px;
    background-color: #21252970;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.hero-title > h1{
    margin-bottom: 10px;
}
.hero-title > h3{
    font-weight: normal;
}

.links{
    display: none;
}
.list{
    margin: 70px 10px 0px;
}
/* blog posts */
.post{
    border-bottom: 1px solid gray;
    
    padding: 10px;
}
.post > .title{
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 8px;
}
.post > .subTitle{
    margin-bottom: 5px;
}
.post > p {
    font-size: small;
    color: rgb(59, 59, 59);
    margin-bottom: 10px;
}
.author{
    color: black;
}